.prof-container {
  display: flex;
  font-family: Arial, sans-serif;
}

.sidebar {
  width: 250px;
  background-color: #f4f4f4;
  padding: 20px;
}

.sidebar .logo {
  width: 150px;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px 0;
  font-size: 16px;
}

.main-content {
  flex: 1;
  padding: 200%;
}

.search-notification {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 0;
  margin-bottom: 20px;
}

.search-bar {
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.notification-bell {
  position: relative;
  margin-right: 20px;
}

.notification-count {
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 12px;
}

.bell-icon {
  font-size: 24px;
  color: #333;
}

.profile-icon-img {
  font-size: 40px;
  color: #333;
}

.form-container {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: #211d1d;
  max-width: 600px;
}

.tool-form {
  display: flex;
  flex-direction: column;
}

.tool-form label {
  margin-bottom: 10px;
}

.tool-form input, .tool-form textarea {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

.btn-red {
  background-color: #ff4d4d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-green {
  background-color: #00C16E;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-red:hover {
  background-color: #e60000;
}

.btn-green:hover {
  background-color: #009956;
}
